* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 1.4em;
  color: #FF5A5F;
  gap: 7px;
}

.navbar--logo {
  padding-left: 30px;
  height: 30px;
}
